<form class="form-group" {{action 'save' on='submit'}}>
  {{input
    class='input-group form-control'
    value=list.title
  }}
</form>
<button class='btn btn-xs btn-secondary' {{action 'cancel'}}>Cancel</button>
